{% extends 'analytics/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12"><h2>{{year}} Leaders</h2></div>
        </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Driver</th>
            <th scope="col">Avg Start</th>
            <th scope="col">Avg Finish</th>
            <th scope="col">Laps Completed</th>
            <th scope="col">Laps Led</th>
            <th scope="col">Starts</th>
            <th scope="col">Wins</th>
        </tr>
      </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ result.1 }}</td>
            <td>{{ result.2 }}</td>
            <td>{{ result.3 }}</td>
            <td>{{ result.4 }}</td>
            <td>{{ result.5 }}</td>
            <td>{{ result.6 }}</td>
            <td>{{ result.7 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}